@font-face {
    font-family: "Oswald";
    src: url("./fonts/Oswald-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Roboto Slab";
    src: url("./fonts/RobotoSlab-VariableFont_wght.ttf")
}
@font-face {
    font-family: "Bazar";
    src: url("./fonts/Bazar.ttf")
}
body {
    background-color: #E18867;
}
* {
    box-sizing: border-box;
}
.container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 78px;
}
.title {
    text-shadow: 3px 3px 0 #fcfaf7, 6px 6px 0 #393a3a;
    color: #393a3a;
    font-family: Bazar;
    font-size: 180px;
    font-weight: 400;
}
.line {
    background-image: url("./images/line.png");
    width: 439px;
    height: 21px;
    background-repeat: no-repeat;
    margin-top: 20px;
    background-position: center;
}
.text {
    color: #38353e;
    font-family: Oswald;
    font-size: 32px;
    font-weight: 400;
    margin-top: 23px;
}
.main {
    margin-top: 30px;
    background-color: #E18867;
    font-family: "Roboto Slab";
    font-size: 24px;
    font-weight: 700;
    color: #383a3c;
}
.blocks {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-left: -15px;
    margin-right: -15px;
}
.blocks-block {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: calc(100% / 4 - 30px);
    height: auto;
    padding: 15px;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 3px;
    margin: 15px;
}
.tag {
    display: flex;
    justify-content: start;
    align-content: flex-start;
    align-items: center;
}
.tag div {
    margin-left: 20px;
    text-align: start;
}
#filter {
    background-color: #E18867;
}
.dashed_line {
    margin-top: 22px;
    border: 2px dashed #aa684f
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
}
.rectagle {
    background-image: url("./images/Rectangle_8.png");
    width: 80px;
    height: 4px;
    background-position: center;
    background-repeat: no-repeat;
}
.browse {
    color: #38353e;
    font-family: Oswald;
    font-size: 32px;
    font-weight: 400;
    margin-top: 23px;
}