body {
    background-color: #3399CC;
    border: 10px solid #2B81AC;
    font-family: Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
}

h1, h3 {
    padding-left: 21px;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

ul {
    font-size: 0;
    padding-left: 0;
}

li {
    display: inline-block;
    height: 21vh;
    width: 24%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    font-size: 25px;
    color: white;
    vertical-align: middle;
}

li:hover {
    opacity: 1;
}

.lisbon {
    background-image: url("./images/lisbon.jpg"); 
    width: 48%;
    background-color: #3399CC;
}
.paris {
    background-image: url("./images/paris.jpg");
    background-color: #33CCCC;
}
.belgrad {
    background-image: url("./images/belgrad.jpg"); 
    background-position: left;
    background-color: #996699;
}
.moskow {
    background-image: url("./images/moskow.jpg");
    background-color: #C24747;
}
.telaviv {
    background-image: url("./images/telaviv.jpg");
    background-color: #E2674A;
}
.cair {
    background-image: url("./images/cair.jpg");
    background-color: #FFCC66;
}
.newyork {
    background-image: url("./images/newyork.jpg");
    background-color: #99CC99;
}
.newdeli {
    background-image: url("./images/newdeli.jpg");
    background-color: #669999;
}
.sanfrancisco {
    background-image: url("./images/sanfrancisco.jpg"); 
    width: 48%;
    background-color: #CC6699;
}
.tokyo {
    background-image: url("./images/tokyo.jpg");
    background-color: #339966;
}
.sydney {
    background-image: url("./images/sydney.jpg"); 
    width: 96%;
    background-color: #666699;
}

img {
    height: 50%;
}
