@font-face {
  font-family: "Raleway-SemiBold";
  src: url("./fonts/Raleway-SemiBold.woff2") format("woff2"); /* Modern Browsers */
}
@font-face {
  font-family: "Raleway-Light";
  src: url("./fonts/Raleway/Raleway-Light.woff2") format("woff2"); /* Modern Browsers */
}
@font-face {
  font-family: "Raleway-Heavy";
  src: url("./fonts/Raleway/Raleway-Regular.woff2") format("woff2"); /* Modern Browsers */
}
body {
  color: white;
  background-color: #B07CF7;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 100px;
}
.title {
  font-family: Raleway;
  font-size: 90px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
}
.heading-text {
  text-align: center;
  width: 50%;
  font-family: Raleway;
  font-size: 17px;
  font-weight: 300;
  line-height: 25px;
  margin-left: auto;
  margin-right: auto;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  margin-top: 50px;
}
.grid-item {
  width: calc(100% / 3);
  padding: 15px;
  height: auto;
}
.card {
  position: relative;
  display: flex;
}
.card-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  opacity: 0.9;
}
.card-date {
  position: absolute;
  top: 30px;
  left: 30px;
  border-radius: 5px;
  background-color: rgba(38, 38, 38, 0.5);
  text-align: center;
  color: #ffffff;
  font-family: Raleway;
  font-size: 21px;
  font-weight: 400;
  line-height: 25px;
}
.card-title {
  position: absolute;
  top: 200px;
  left: 20px;
  color: #ffffff;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}
.card-author {
  position: absolute;
  top: 260px;
  left: 20px;
  font-family: Raleway;
  font-weight: 700;
}
.footer {
  position: absolute;
  bottom: -25%;
  left: 43%;
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 55px;
  background-color: #f72b3b;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: white;
font-family: Raleway;
font-size: 20px;
font-weight: 300;
line-height: 25px;
}
.button:hover {
  background-color: white;
  color: #f72b3b
}