@font-face {
    font-family: "Lato";
    src: url("./fonts/Lato-Regular.ttf")
}
* {
    box-sizing: border-box;
}
.container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 0 5px 70px black;
}
.textpart {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}
h1 {
    color: #171717;
    font-family: "Playfair Display";
    font-size: 42px;
    font-weight: 400;
    letter-spacing: -0.21px;
}
p {
    font-family: "Lato", serif;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: -0.09px;
    color: #5D5D5D;
    word-spacing: 4px;
}
.first::first-letter {
    font-family: "Playfair Display";
    font-size: 110px;
    letter-spacing: -0.55px;
    float: left;
    margin-bottom: 25px;
    margin-right: 35px;
    margin-top: 30px;
}
.the {
    font-size: 24px;
    font-style: italic;
    letter-spacing: -0.12px;
    line-height: 34px;
    margin-bottom: 39px;
}
button {
    margin-left: 121px;
    padding: 27px 75px;
    border: 2px solid #eaa258;
    color: #eaa258;
    text-decoration: none;
    letter-spacing: 3.6px;
    font-weight: bold;
    background: white;
    font-size: 18px;
    margin-bottom: 100px;
}
button:hover {
    background-color: #eaa258;
    color: white;
}